# HTML  
<!DOCTYPE html>
<html>
<head>
    <title>Weather Info Service</title>
</head>
<body>
    <h1>Enter City Name</h1>
    <form action="/weather" method="get">
        <input type="text" name="city" required>
        <button type="submit">Get Weather</button>
    </form>
</body>
</html>



